{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--<link rel="stylesheet" href="{{ asset('css/eating-budget.css') }}">-->
    <link rel="stylesheet" href="{{ asset('css/complementary-page.css') }}">

    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">

{% endblock %}

{% block body %}

    <div class="header">
        <div class="dropdown burger above-image">
        </div>
        <h1>ADDITIFS<br>ALIMENTAIRES</h1>
        <div class="image-container">
            <div class="green-film"></div>
            <img class="below-film" src="{{ asset('images/dashboard/additional-information-pages/header_additives.jpg') }}">
            <a href="#">
                <div class="dollar-img-container">
                    <img class="dollar-img" src="{{ asset('images/budget/individumenage/dollars.png') }}" />
                </div>
            </a>
        </div>
    </div>
    <a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>

    <p class="first-paragraph-intro black-text bold">Les additifs alimentaires sont des produits ajoutés aux denrées alimentaires commerciales (notamment aliments industriels) destinés à l'alimentation humaine et/ou animale. Ils désignent une substance chimique souvent liquide ou en poudre, qui est en général introduite avant ou pendant la mise en forme du produit pour apporter ou améliorer une (ou parfois plusieurs) propriété(s) spécifique(s).Les  additifs  sont  compatibles  avec  le  système  pour  obtenir  un  mélange  homogène, et stables aux conditions de mise en forme (en particulier à la température)et au cours du temps. Ils peuvent être utilisés pour obtenir un effet positif en phase de production, stockage, traitement, pendantet après la phase d'utilisation du produit.</p>

    <p class="scnd-paragraph-intro black-text bold scnd-paragraph-intro">Les additifs alimentaires, qui permettent par exemple d'ajouter du goût, une couleur, une texture  à  un  aliment,  ou  d'améliorer  sa  conservation  comprennent  les  colorants,  agents conservateurs, antioxydants,  émulsifiants, acidifiant, épaississants, exhausteur de goût et édulcorants.</p>

    <div class="btns-container container my-container">
        <div class="row my-row">
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E102">E102</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E104">E104</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E110">E110</div>
        </div>
        </div>

        <div class="row my-row">
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E122">E122</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E124">E124</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E129">E129</div>
        </div>
        </div>

        <div class="row my-row">
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E150">E150c</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E150">E150d</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E211">E211</div>
        </div>
        </div>

        <div class="row my-row">
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E212">E212</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E213">E213</div>
        </div>
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E249">E249</div>
        </div>
        </div>

        <div class="row my-row">
        <div class="col-4 my-col">
            <div class="hidden-sugar-btn inactive smaller-btn" data-scrollId="E250">E250</div>
        </div>
        </div>
    </div>

    <br><br>
    
    
    <div class="title" id="E102">
        <p>E102 - Tartrazine</p>
    </div>
    
    
    <br class="ecran"><br class="ecran">
    <div class="description-txt-container">
        <p class="description-txt black-text">E102 est un additif alimentaire approuvé par l'Union européenne (UE).Il est utilisé comme colorant synthétique dans les produits alimentaires.Le nom commun pour E102 est Tartrazine. E102 donne une couleur jaune aux produits alimentaires et est très soluble dans l'eau. La coloration est dérivée du goudron de houille.</p>
    </div>
    

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">On pense que le colorant E102 aggrave certains symptômes de l'asthme et provoque des réactions allergiques chez de nombreuses personnes, comme les migraineset l'irritation cutanée. Le E102 est également connu pour causer l'hyperactivité.</p>
    </div>
    

    <br class="ecran">


    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Le colorant peut aussi contenir de l'aluminium sans que ceci soit indiqué sur l'étiquette.Le métal est soupçonné de faire progresser les maladies de démence comme la maladie d'Alzheimer et la maladie de Parkinson dans le cerveau.</p>
    </div>
    

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Il est aussi potentiellement cancérigène et de ce fait a été interdit dans certains pays comme la  Norvège et en Autriche, mais reste autorisé en France.</p>
    </div>
    

    <br class="ecran"><br class="ecran">

    <div class="title" id="E104">
        <p>E104 - Jaune quinoléine</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">Molécule composée de glucose et de fructose, c’est le sucre le plus utilisé par l’industrie agroalimentaire, surtout pour la confection de confiseries, boissons, confitures et pâtisseries. C’est le référent  pour  comparer  le  pouvoir  sucrant  des  différents  sucres.  Son  index  glycémique  est modéré du fait de la présence de fructose (qui elle même peut poser problème, voir cidessous).</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Rapporté génotoxique, potentiellement cancérigène, y compris ses résidus de production. Neurotoxique potentiel car commercialisable sous forme aluminique; on soupçonne le métal d’aggraver les maladies de démence comme la maladie d'Alzheimer et de Parkinson. Des études ont aussi montré qu’il peut provoquer des dermatites (inflammation de la peau). Il existe aussi un risque avéré d'hyperactivité chez l'enfant (l'association avec les conservateurs benzoates (E-210 E-215), peut la déclencher ou l'amplifier. Les personnes allergiques à l'aspirine, aux salicylates, peuvent être exposées.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">E104 est interdit (pour certaines utilisations) aux États-Unis, en Australie et en Norvège.</p>
    </div>
    

    <br class="ecran"><br class="ecran">

    <div class="title" id="E110">
        <p>E110 - Jaune soleil couchant</p>
    </div>

    <br class="ecran"><br class="ecran">
    
    <div class="description-txt-container">
        <p class="description-txt black-text">E110 est un additif alimentaire approuvé par l'Union européenne (UE). Il est utilisé comme colorant synthétique dans les produits alimentaires et les boissons. Les noms communs pour E110 sont jaune soleil couchant FCF et jaune orangé S. E110 est un colorant alimentaire à base de goudron de houille synthétique jaune très soluble dans l'eau. C'est un colorant azoïque synthétique qui est généralement utilisé dans les aliments fermentés qui nécessitent un traitement thermique.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Certains pensent que l'E110 aggrave l'asthme et, lorsqu'il est pris en association avec des benzoates, induit une hyperactivité chez certains enfants.Les personnes intolérantes aux salicylates peuvent également trouver qu'elles sont intolérantes au E110, car le colorant est un colorant azoïque. Dans de rares cas, il peut provoquer chez les personnes sensibles des réactions allergiques de peau tels que de l'eczéma ou de l'urticaire, de plus, de la dyspnée et des crises d'asthme. Le colorant peut aussi contenir de l'aluminium; on soupçonne le métal d’aggraver les maladies de démence comme la maladie d'Alzheimer et de Parkinson.Certains rapports ont également mentionné les nausées, la perte de poids importante et les vomissements comme effets secondaires de l'E110.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">E110 est interdit en Norvège</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E122">
        <p>E122 - Carmoisine</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">E122 est un additif alimentaire approuvé par l'Union européenne (UE). Il est utilisé comme colorant synthétique dans les produits alimentaires et les boissons, ainsi que dans les cosmétiques.Les noms communs pour E122 sont azorubine et carmoisine.Le E122 est un colorant alimentaire rouge synthétique à base de goudron de houille très soluble dans l'eau. Il a tendance à être utilisé dans les aliments fermentés qui nécessitent un traitement thermique.</p>
    </div>
    
    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Certains pensent que le E122 aggrave l'asthme et provoque des réactions allergiques chez les personnes allergiques à l'aspirine. Lorsqu'il est pris en association avec des benzoates, E122 est également soupçonné d'induire une hyperactivité chez les enfants.Les personnes intolérantes aux salicylates peuvent trouver qu'elles sont intolérantes au E122, car la coloration est un colorant azoïque. Le colorant peut aussi contenir de l'aluminium sans que cela soit indiqué sur l'étiquette.On soupçonne ce métal d’aggraver les maladies de démence dans le cerveau, comme par exemple la maladie d'Alzheimer et la maladie de Parkinson.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">E122 est interdit aux États-Unis, en Suède, en Norvège et en Autriche.</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E124">
        <p>E124 - Ponceau 4R</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">E124 est un additif alimentaire approuvé par l'Union européenne (UE).Il est utilisé comme colorant synthétique dans les produits alimentaires et les boissons. Les noms communs pour E124 sont ponceau 4R et rouge cochenille A.E124 est un goudron de houille synthétique et un colorant azoïque qui rend les produits alimentaires rouge vif. Il est très soluble dans l'eau.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Dans des cas très rares, chez les personnes sensibles, certains croient que le E124 aggrave l'asthme, provoque des réactions allergiques sur la peau, comme par exemple de l'eczéma ou de l'urticaire (surtout chez les personnes allergiques à l'aspirine).Il peut également agir comme cancérogène chez les animaux; lors d’une administration en quantité élevée dans des expériences sur les animaux et dans des expériences en éprouvette, on a observé un effet de lésions héréditaires sur des souris, avec une activité clastogène (qui peut altérer la structure des chromosomes). Peut également agir comme inhibiteur de la respiration mitochondriale.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Le colorant peut contenir de l'aluminium sans que ce soit indiqué sur l'étiquette. On soupçonne ce métal d’aggraver les maladies de démence dans le cerveau, comme par exemple la maladie d'Alzheimer et la maladie de Parkinson.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text bold">E124 est interdit aux États-Unis et en Norvège.</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E129">
        <p>E129 - Rouge allura </p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">E129 est un additif alimentaire approuvé par l'Union européenne (UE).Il est utilisé comme colorant synthétique dans les produits alimentaires et les boissons, ainsi que dans la médecine et les cosmétiques.Le nom commun pour E129 est allura rouge AC. E129 est un colorant azoïque (dérivé du naphtalène) qui donne aux produits une coloration orange/rouge.Il a été introduit à l'origine pour servir d'alternative à l'amarante (E123).</p>
    </div>
    
    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Cette coloration a été associée au cancer de la vessie chez la souris, à la suite de tests en laboratoire. E129 a les mêmes effets négatifs que tout autre colorant azoïque, mais dans une moindre mesure.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">L'autorité européenne de sécurité des aliments (EFSA, 2009) ne reconnaît pas la cancérogénicité de l'additif. Mais certaines études rapportées par la NLM américaine (National Library of Medicine) montrent un potentiel génotoxique.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Le E129 a été interdit en Norvège, en Allemagne, au Danemark, en Suisse, en Suède, en France, en Autriche et en Belgique.</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E150">
        <p>Série E150</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">Il existe une série d'additifs alimentaires E150 approuvés par l'Union européenne (UE).Ils sont utilisés comme colorants synthétiques dans les produits alimentaires et les boissons.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Les noms communs pour E150 sont :</p>
    </div>

    <br class="ecran">

    <div class="smaller-description-txt-margin">
        <p class="description-txt black-text">150(a) - Caramel nature</p>
        <p class="description-txt black-text">150(b) - Caramel de sulfite caustique</p>
        <p class="description-txt black-text">150(c) - Ammoniaque Caramel</p>
        <p class="description-txt black-text">150(d) - Sulfite Ammoniac Caramel</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Les E150 donnent une couleur brun foncé aux aliments et sont produits par traitement thermique du saccharose. Ces colorants peuvent parfois ajouter un goût amer aux produits alimentaires qui en contiennent.<br>Le E150 peut également agir comme émulsifiant dans les boissons gazeuses.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">On a signalé certaines préoccupations concernant l'association de l'hyperactivité chez les enfants avec ces colorants alimentaires, bien que nous n'ayons pas pu trouver de preuves détaillées à l'appui de cette hypothèse.<br>E150(c) et E150(d) peuvent causer des problèmes intestinaux si de grandes quantités sont consommées.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Le caramel sans additifs (E150a), mélange d'eau et de sucre, ne présente en rien un danger pour la santé.<br>C'est seulement lorsqu'il est mélangé à l'ammoniac et/ou à des sulfites qu'il devient néfaste, ce qui se produit couramment dans l'industrie agro-alimentaire, à des fins esthétiques et olfactives. l'Institut Scientifique de Santé Publique (ISP) basé à Bruxelles en Belgique a en effet constaté que l'ammoniac et les sulfites ajoutés à trois des quatre classes de colorant caramel (E150b, E150c et E150d) entraînaient l'apparition, sous l’effet de la chaleur, de nouvelles substances “néoformées” nocives qui peuvent s’avérer nocives pour la santé.<br>L'ISP en a retenu quatre comme étant potentiellement toxiques et cancérigènes: le 2-acétyle-4-tétrahydroxibutylimidazole (THI), empêchant le bon fonctionnement des réac-tions immunitaires, le 2- et 4-méthylimidaz (2-MEI et le 4-MEI), produits chimiques potentiel-lement cancérigènes pour l'homme, d'après le Centre International de Recherche contre le Cancer, et le hydroxyméthyl furfural (5-HMF), à haut risque toxicologique.<br>Pour l'Agence Européenne de Sécurité Alimentaire (EFSA), il n'y a pas lieu de s'alarmer, l'im-portant étant de « maintenir les concentrations de substances néoformées à un niveau aussi bas que possible ».</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Ce produit chimique est produit par hydrolyse du benzonitrile et du benzamide et peut être purifié par recristallisation à partir d'eau, en raison de sa grande solubilité.Le E210 est également présent à l'état naturel dans les fruits et légumes comestibles.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Le E210 est largement utilisé comme agent de conservation dans de nombreux aliments, y compris les boissons, les produits à faible teneur en sucre, les céréales et les produits carnés. Des études ont montré qu'il peut inhiber temporairement la fonction des enzymes digestives et peut appauvrir les niveaux de glycine.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">L'acide benzoïque et les benzoates protègent contre la moisissure et d'autres champignons mais ils ne protègent pas suffisamment contre des bactéries non souhaitées.Ils sont alors souvent combinés à de l'anhydride sulfureux (E 220). Ils provoquent un léger fourmillement sur la langue.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Doit être évité par les personnes allergiques aux rhume des foins, l'urticaire et l'asthme.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">L'acide benzoïque et les benzoates sont interdits dans la conservation de la nourriture d'animaux.</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E211">
        <p>E211 - Benzoate de sodium</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">E211 est un additif alimentaire approuvé par l'Union européenne (UE) et est utilisé comme agent de conservation synthétique antifongique et antibactérien dans les produits alimentaires.<br>Ce conservateur se trouve naturellement dans les canneberges, les pommes, la cannelle, les clous de girofle, les prunes et les pruneaux.<br>Ce produit n'est efficace que dans des conditions légèrement acides.<br>E211 peut également être utilisé comme antiseptique.<br>E211 est également connu sous le nom commun de benzoate de sodium et, plus rarement, de benzoate de soude.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Des réactions d'hypersensibilités et d’allergies à E211 peuvent survenir chez les personnes souffrant d'asthme, d'urticaire ou sensibles à l'aspirine.<br>Ce conservateur est enfin soupçonné de favoriser l'hyperactivité chez les enfants, seul ou en combinaison avec des colorants azoïques.</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E212">
        <p>E212 - Benzoate de potassium</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">E212 est un additif alimentaire approuvé par l'Union européenne (UE) et utilisé comme agent de conservation synthétique antifongique et antibactérien dans les produits alimentaires, qui agit en inhibant les moisissures, les levures et certaines bactéries.<br>E212 est également connu sous le nom commun de benzoate de potassium et est le sel de potassium de l'acide benzoïque (E210).<br>L'agent de conservation agit comme une alternative au benzoate de sodium dans les aliments qui nécessitent une faible teneur en sodium.<br>E212 n'est pas recommandé pour une utilisation à un pH supérieur à 4,5, mais il est reconnu comme un produit chimique sûr dans la plupart des cas.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Des réactions allergiques à E211 peuvent survenir chez les personnes souffrant d'asthme, d'urticaire ou sensibles à l'aspirine, en particulier en association avec la tartrazine (E102).</p>
    </div>

    <br class="ecran"><br class="ecran">
    
    <div class="title" id="E213">
        <p>E213 - Benzoate de calcium</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">E213 est un additif alimentaire approuvé par l'Union européenne (UE) et utilisé comme agent de conservation synthétique antifongique et antibactérien dans les produits alimentaires.<br>Le E213 est aussi connu sous le nom commun de benzoate de calcium et est le sel de calcium de l'acide benzoïque (E210).</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Des réactions allergiques à l'E213 peuvent survenir chez les personnes souffrant d'asthme, d'urticaire ou sensibles à l'aspirine, en particulier en association avec la tartrazine (E102).</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Son innocuité est insuffisamment démontrée, notamment en fonction des quantités ingérées et des interactions possibles avec des colorants impliqués dans les troubles de l’attention chez l’enfant.</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E249">
        <p>E249 - Nitrate de potassium</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">Le E249 est un additif alimentaire approuvé par l'Union européenne (UE) et utilisé comme agent de conservation synthétique antibactérien (contre Clostridium botulinum; une bactérie qui peut provoquer le botulisme) dans les produits alimentaires (produits carnés et poissons), ainsi que comme fixateur de couleur et agent durcisseur dans les viandes.<br>Le nom commun pour E249 est nitrite de potassium. E249 est le sel de l'acide nitreux et est très oxydant.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">En dose élevée, un excès de E249 dans le sang mènent à la cyanose, caractérisée par le bleuissement typique des lèvres, des muqueuses et de la peau, car il réduit la capacité de transport d'oxygène de l'hémoglobine dans les globules rouges.Cela peut entraîner des maux de tête, des étourdissements et un essoufflement. Une autre préoccupation est que, une fois dans le système digestif, les nitrates peuvent former des nitrosamines, que l'on croit cancérigènes.<br>On craint également que le E249 n'ait un effet de détérioration sur les glandes surrénales.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">E249 n'est pas autorisé dans les aliments pour nourrissons et enfants en bas âge, car il peut provoquer une insuffisance respiratoire aiguë, pouvant conduire à une mort par étouffement. Il faut savoir que les jeunes enfants ont un type différent d'hémoglobine, qui est beaucoup plus réactive aux nitrites que l'hémoglobine normale.</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="title" id="E250">
        <p>E250 Nitrate de sodium</p>
    </div>

    <br class="ecran"><br class="ecran">

    <div class="description-txt-container">
        <p class="description-txt black-text">E250 est un additif alimentaire approuvé par l'Union européenne (UE) et utilisé comme conservateur synthétique antibactérien dans les produits alimentaires, très employé dans les viandes transformées, ainsi que comme fixateur de couleur (les bouchers ajoutent des nitrites sur leur viandes, ainsi que dans leurs charcuteries qui, sans cela, seraient brunes ou grises, et non pas d'un beau rouge brillant).<br> Le nom commun pour E250 est nitrite de sodium. E250 est le sel de sodium de l'acide nitreux. Il peut être oxydé dans l'air pour former du nitrate de sodium - un agent réducteur utile.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">E250 (nitrite de sodium) est particulièrement efficace pour inhiber les bactéries notamment la multiplication de bactéries pathogènes, comme Clostridium botulinum, l’agent responsable du botulisme, une maladie paralytique rare mais grave. Il est aussi connu pour causer l'hyperactivité et est limité dans de nombreux pays.<br>Une fois  dans  l'estomac, les nitrates peuvent former des nitrosamines, que l'on croit cancérigènes avec, en particulier, un risque accru supposé de cancer du côlon pour les personnes ayant des carences en vitamine C ou consommateur de grande quantité de viande. Les ions nitrites peuvent également réagir avec le fer pour former du fer nitrosylé, lui aussi promoteur du cancer du côlon.<br>Dans le sang, il empêche la fixation du dioxygène sur la molécule d’hémoglobine et provoquer une anémie.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Ils  causeraient  également  des  nausées  et  troubles  gastriques  à  certain  dosage.  Ils  auraient aussi des effets hypotenseurs sur les artères et veines.</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Il faut néanmoins limiter les prises surtout chez le nourrisson (syndrome du bébé bleu; symptômes semblables à une anémie), la femme enceinte, les personnes atteintes d’hypotension artérielle et les personnes en contact régulier avec ce produit (industrie).</p>
    </div>

    <br class="ecran">

    <div class="description-txt-container smaller-description-txt-margin">
        <p class="description-txt black-text">Tous ces effets n'apparaissent qu’à forte dose, et possèdent des effets bénéfiques sur les personnes atteintes d'hypertension.Des recherches récentes ont indiqué que l'E250 peut provoquer une dilatation des vaisseaux sanguins, et donc avoir des applications positives pour la santé dans le traitement des crises cardiaques, de l'hypertension pulmonaire et de l'anémie drépanocytaire.</p>
    </div>

    <br class="ecran"><br class="ecran"><br class="ecran"><br class="ecran">

    <div class="references-text black-text">
    <p class="references">Références :</p>
    <br class="ecran">
    <p>- Leaky Gut Syndrome, Tartrazine E102, Herbizide</p>
    <p>- E102</p>
    <p>- WebAdditifs</p>
    <p>- Tartrazine</p>
    <p>- Le tartrazine E102, un colorant dangereux</p>
    <p>- Allergie de tartrazin</p>
    <p>- Quels sont les risques annoncés en consommant ce colorant ?</p>
    <p>- Always read the label</p>
    <p>- Food agency calls ban on six artificial colours</p>
    <p>- Les additifs alimentaires sont-ils dangereux pour la santé </p>
    <p>- Acide benzoïque et ses sel</p>
    <p>- E104</p>
    <p>- Additifs alimentaires: la face cachée de l’alimentation transformé</p>
    <p>- E110</p>
    <p>- Naturopathie holistique</p>
    <p>- E122</p>
    <p>- E122 Carmoisine - Azorubine</p>
    <p>- E124</p>
    <p>- E150</p>
    <p>- Le colorant caramel serait nocif pour la sant</p>
    <p>- Le caramel, un colorant pas si anodin omniprésent dans notre alimentation</p>
    <p>- What are the most dangerous E-numbers</p>
    <p>- Top E numbers to avoi</p>
    <p>- E210</p>
    </div>
    <br class="ecran"><br class="ecran"><br class="ecran">



{% include 'footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script link rel="stylesheet" href="{{ asset('js/bootstrap.min.js') }}"></script>
    <script>
        $('.hidden-sugar-btn').click(function (){
            var dataId = $(this).data('scrollid');
            $('.hidden-sugar-btn').addClass('inactive');
            $(this).removeClass('inactive');
            $('html, body').animate({
                scrollTop: $("#" + dataId).offset().top
            }, 500);
        });


        //Bouton pour remonter en haut de la page
        ScrollToTop=function() {
            var s = $(window).scrollTop();
            if (s > 1000) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }

            $('.scrollup').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 500);
                return false;
            });
        }

        StopAnimation=function() {
            $("html, body").bind("scroll mousedown DOMMouseScroll mousewheel keyup", function(){
                $('html, body').stop();
            });
        }


        $(window).scroll(function() {
            ScrollToTop();
            StopAnimation();
        });
    </script>
{% endblock %}