{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/humans.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

{% block humansarticle %}

<div class="" style="background-image: url('{{ asset('images/humans/fondpage.png') }}');display: block; background-repeat: round; height: 4000px; position: relative;">
    <div style="position: absolute;">
        <div class="large-border" style="display: flex; height: 450px; margin-top: 250px;">
            <div class="" style="background-color: #272A3A; width: 100%;">
                <div class="" style="color: #2292AF; padding: 18% 0 0 50%; font-size: 3em;">
                    Interview <br> Alumni <br> pour Mélanie <br> Desfougeres
                </div>
            </div>
            <img class="d-block w-100" style="height: 100%;" src="{{ asset('images/humans/article/melaniedesfougeres.jpg') }}" alt="">
        </div>
        <div class="light-background narrow-border" style="padding: 40px 0; margin-top: 30px;">
            <span style="line-height: 26pt;"><b>Pouvez vous vous présenter brièvement ? </b></span><br>
            Je m'appelle Mélanie Desfougères, je suis mariée, et maman de 4 enfants. Je suis nutritionniste. J'ai récemment entrepris une reconversion en ressources humaines et c'est ce qui m'a conduit vers Gaea21. <br><br>

            <span style="line-height: 26pt;"><b>Quelle était votre principale mission au sein de Gaea21 ? </b></span><br>
            J'ai travaillé au service des Ressources humaines sur le projet Marketing et Agriculture Durable <br><br>

            <span style="line-height: 26pt;"><b>Comment avez vous entendu parler de gaea21 ? </b></span><br>
            étudiante à l’IFP de Gland pour passer le Certificat en Gestion du personnel. En faisant quelques recherches, j’ai trouvé une offre de stage proposée par Gaea 21. C’était parfait pour moi, puisqu’ayant le désir d’apprendre et de mieux comprendre les tâches RH dans leur globalité, ce stage m’offrait la possibilité d’avoir une expérience pratique de mon métier, et de mieux me préparer pour le diplôme.  De plus, m’immerger dans cette association, porteuse de valeurs fortes et agissant pour l'agenda 21 c'était une évidence et je ne voulais pour rien au monde passer à côté de cela. 
            C'est dans ce contexte que j’ai commencé mon stage au sein de Gaea 21, en qualité de Stagiaire collaboratrice RH. <br><br>

            <span style="line-height: 26pt;"><b>Qu'est ce qui vous attiré chez gaea21 ? Pourquoi avez vous décidé de vous lancer dans cette aventure ? </b></span><br>
            J'ai trouvé chez Gaea21, une opportunité pour travailler dans mon domaine de reconversion, pour des projets innovants et variés, tous en lien avec le développement durable et en plus, ce que j'ai découvert plus tard en travaillant c'est que Gaea21 est le terrain idéal d'apprentissage comme il en existe peu. 
            Avec la possibilité de développer ses compétences, d'évoluer rapidement, d'avoir un suivi régulier en coaching… Tout cela contribue à un environnement de travail qui permet d'apprendre énormément. <br><br>

            <span style="line-height: 26pt;"><b>Aviez vous déjà travaillé dans le cadre du développement durable ? Ou dans une association à but non lucratif ? </b></span><br>
            J'ai eu plusieurs fois l'occasion de travailler pour des associations: dans le Social (Aide aux personnes vulnérables) , dans l'Humanitaire (J'ai travaillé avec des enfants des rues en Afrique du Sud, au Nigeria et au Maroc). <br>
            C'était pour moi une première expérience dans le développement Durable et je peux dire que Gaea à à su développer de nombreux outils de formation efficaces et utiles pour le bon fonctionnement de l'association et de ses collaborateurs. <br><br>

            <span style="line-height: 26pt;"><b>Comment avez vous été accueillie dans gaea21 ? </b></span><br>
            L'accueil chez Gaea à été très convivial et j'ai eu le sentiment que tous les collaborateurs participaient pleinement à rendre cet accueil des plus plaisant. Sans compter que très vite j'ai été formé sur différents processus <br><br>

            <span style="line-height: 26pt;"><b>Comment jugez vous l'ambiance de travail au sein de gaea21 ? </b></span><br>
            Chez Gaea, l'ambiance est bonne, chacun est prêt à répondre aux diverses questions des uns des autres. L'entraide est de mise. Les petits groupes de travail et binômes sont plus qu'utiles et permettent une bonne cohésion et un échange constant qui est une clé de la réussite de Gaea21 en télétravail. <br><br>

            <span style="line-height: 26pt;"><b>Globalement, avez vous aimé votre expérience au sein de gaea21 ? Quel est votre ressenti ? </b></span><br>
            Je peux vraiment dire que j'ai aimé travailler chez Gaea et que l'expérience que j'ai acquis est grande et variée. <br>

            <span style="line-height: 26pt;"><b>Quels conseils donneriez vous aux futurs collaborateurs de gaea21 ? </b></span><br>
            Accrochez-vous, car cela peut paraître vertigineux en arrivant, Gaea c'est une multitude de projets qu'il faut découvrir et comprendre et cela prend un peu de temps, ne cherchez pas à fuir les obstacles mais allez y, il a toute une équipe derrière prête à vous aider à vous former c'est que du bon ! <br><br>

            <span style="line-height: 26pt;"><b>Voulez vous rajouter quelque chose ? </b></span><br>
            Non <br>
        </div>
        <div class="light-background narrow-border" style="text-align: center; padding-top: 5%; padding-bottom: 6%; margin-top: 50px;">
            <div style="font-size: 2em; font-weight: bold;">HUMANS OF GAEA21</div> 
            <div style="font-size: 3em;">DERNIÈRE STORIES</div>
            <!--<a href=""><button class="stories-button" disabled>Découvrez nos <br> dernières stories </button></a>-->
        </div>
        <div class="light-background narrow-border" style="text-align: center; padding-top: 0.5%; padding-bottom: 5%; margin-top: 50px;">
            <div style="font-size: 2.2em;">SERIES</div> 
            <div style="display: flex; margin-top: 1%; margin-bottom: 10px;"> 
                <div class="serie" style="margin-right: 2%;">
                    <div class="serie-title">Mon expérience dans gaea21</div>
                    <div class="serie-content">
                        <div class="serie-img">
                            <img class="d-block w-100" src="{{ asset('images/landing-page/Actualité-Landingpage.jpg') }}" alt="">
                        </div>
                        <div class="serie-text">
                            Bientôt disponible dans le cadre du programme SLP, les Green Events Series (GES)!
                        </div>
                    </div>
                </div> 
                <div class="serie" style="margin-right: 2%;">
                    <div class="serie-title">J'ai découvert gaea21</div>
                    <div class="serie-content">
                        <div class="serie-img">
                            <img class="d-block w-100" src="{{ asset('images/landing-page/Actualité-Landingpage.jpg') }}" alt="">
                        </div>
                        <div class="serie-text">
                            Bientôt disponible dans le cadre du programme SLP, les Green Events Series (GES)!
                        </div>
                    </div>
                </div> 
                <div class="serie">
                    <div class="serie-title">Ce que gaea a changé pour moi</div>
                    <div class="serie-content">
                        <div class="serie-img">
                            <img class="d-block w-100" src="{{ asset('images/landing-page/Actualité-Landingpage.jpg') }}" alt="">
                        </div>
                        <div class="serie-text">
                            Bientôt disponible dans le cadre du programme SLP, les Green Events Series (GES)!
                        </div>
                    </div>
                </div>
            </div>
            <!--<a href=""><button class="stories-button" disabled>Découvrez nos <br> dernières stories </button></a>-->
        </div>
        <div class="humans-article-ambassadeur narrow-border" style="margin-top: 50px;">
            <div><a href="{{ path('ambassadeur') }}"></a></div>
            <div><img src="{{ asset('images/landing-page/ambassadeur.PNG') }}" alt="ambassadeur"></div>
        </div>
        
        <div class="humans-article-community narrow-border">
            <div><a href="{{ path('community') }}"></a></div>
            <div><img style="height: 100%; width: 100%;" src="{{ asset('images/landing-page/aviron.jpg') }}" alt="community"></div>
        </div>

        <div class="row ecran" style="margin-bottom: 40px; margin-top: 90px;">
            <div class="temoignage">
                <div class="col-md-7 col-sm-7 col-xs-12 text">
                    <h1> Vous avez une histoire, une expérience à partager ? </h1>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 button">
                    <a href=""><button disabled>Témoignez</button></a>
                </div>
            </div>
        </div>
        <div class="temoignage mobile" style="margin-bottom: 20px; width: 100%;">
            <h1> Vous avez une histoire, une expérience à partager ? </h1>
            <a href=""><div class="mobile-button"><text>TÉMOIGNEZ</text></div></a>
            <div class="div-after-button"></div>
        </div>

        {% include 'footer.html.twig' %}
    </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
