
{# --------------------- BLOC BANNIERES --------------------- #}

        <div class="" style="width: 100%; border-radius: 4px; padding: 50px 3%; margin: 20px 0 50px 0;
                -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.34); -moz-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.34); box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.34);">
            <div class="" style="position: relative;">
                <a href="{{ path('humans') }}" style="position: absolute; top: 81%; left: 39.9%; height: 12%; width: 20.3%;"></a>
                <img style="height: 100%; width: 100%;" src="{{ asset('images/landing-page/banniereHOG21.jpg') }}" alt="humans">
            </div>
            <div class="" style="position: relative; margin-top: 40px; ">
                <a href="{{ path('ambassadeur') }}" style="position: absolute; top: 73%; left: 43.5%; height: 10%; width: 13%;"></a>
                <img style="height: 100%; width: 100%;" src="{{ asset('images/landing-page/ambassadeur.PNG') }}" alt="ambassadeur">
            </div>
            <div class="" style="position: relative; margin-top: 40px;">
                <a href="{{ path('community') }}" style="position: absolute; top: 84.5%; left: 2%; width: 30.8%; height: 9%;"></a>
                <img style="height: 100%; width: 100%;" src="{{ asset('images/landing-page/aviron.jpg') }}" alt="community">
            </div>
        </div>