<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Atelier Alimentation</title>
<!-- Bootstrap -->
<link href="{{ asset('bundles/ecopanier/css/bootstrap-4.0.0.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/ecoatelier/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> 
<!-- Custom CSS -->
<!--<link href="{{ asset('bundles/ecoatelier/css/styles.min.css') }}" rel="stylesheet"> -->
<link href="{{ asset('bundles/ecopanier/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/ecopanier/css/atelier_alimentation.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">


</head>

<body>



<!--SECTION NAVBAR -->
    <div class="dropdown fixed-top" id="navbar"><button class="btn btn-primary dropdown-toggle dropdown_btn" data-toggle="dropdown" aria-expanded="false" type="button"></button>
        <div class="dropdown-menu" role="menu">
          <a class="dropdown-item" role="presentation" href="{{ path('site_index') }}">Page d'accueil</a>
          <a class="dropdown-item" role="presentation" href="{{ path('atelier_portail') }}">Portail Atelier</a>
          <!--<a class="dropdown-item" role="presentation" href="{#{ path('ecopanier') }#}">Eco Panier</a>-->
          <a class="dropdown-item" role="presentation" href="#">Page 3 (en cours)</a>
          <a class="dropdown-item" role="presentation" href="#">Page 4 (en cours)</a>
          <a class="dropdown-item" role="presentation" href="#">Page 5 (en cours)</a>
          <a class="dropdown-item" role="presentation" href="#">Page 6 (en cours)</a>
        </div>
    </div>



<!-- SECTION HEADER -->

<header class="masthead">
  <div class=""> <!-- container -->
    <div class="intro-text">
      <div class="intro-lead-in"><img src="{{ asset('bundles/ecopanier/images/atelier_alimentation/header_citron.png') }}" width="129" height="93" alt=""/> <br>
        <br>
        ATELIER ALIMENTATION</div>
      <div class="intro-heading">Que ce soit l'hiver ou l'été, découvrez dans l'atelier alimentation les meilleures recettes et produits de saison qui feront du bien à votre corps.</div>
      <a class="header-btn js-scroll-trigger" href="#intro"> <img src="{{ asset('bundles/ecopanier/images/ateliereco/icon/icoheader.png') }}" width="80" height="80" alt=""/> </a> </div>
  </div>
</header>

<!-- SECTION INTRO-->

<section id="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <h3>Atelier Alimentation</h3>
      </div>
      <div class="col-xl-12">
        <p>Bien s'alimenter ou alors perdre un peu de poids, n'est pas une affaire si difficile quand on sait comment s'y prendre. Pour cela, il est avant tout important d'avoir une bonne connaissance de chaque aliment et leurs effets positifs ou négatif sur notre organisme. Pour être en parfaite symbiose avec son corps, dans cet atelier, vous trverez des recettes et des informations utiles qui vous permettront de manger des produits de qualité, tout en gardant la ligne.</p>
      </div>
    </div>
  </div>
  <div class="intro container-fluid">
    <div class="row">
      <div class="col-xl-4">
        <h2>Choix Atelier</h2>
      </div>
      <div class="col-xl-8">
        <div class="form-group"> 
          <!-- <label for="exampleFormControlSelect1">Example select</label> -->
          <select class="form-control" id="exampleFormControlSelect1">
            <option> Atelier Alimentation - "Fraîcheur à croquer" </option>
            <option> Atelier Alimentation - Recette de saison - Salade tiède de quin </option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECTION CONTENU ARTICLE-->

<section id="mybody"> 
  <div class="container-fluid">
    <div class="row">
	    <div class="col-xl-8">
			<!-- SECTION ARTICLE-->
		  <div class="container-fluid">
		    <div class="row">
			    <div class="col-xl-4 article_img">
            <!--
			    <img src="{{ asset('bundles/ecopanier/images/atelier_alimentation/article_fraicheur.png') }}" width="436" height="436" alt="" class="img-fluid"/> -->
          </div>
			    <div class="col-xl-8 article_title">
				<h4>Atelier "Fraicheur à croquer" <br> Le 31 août 2017</h4>
				<p>Impact Hub Genève Rue Fendt 1, 1201 Genève de 18h00 à 22h00</p>	
				<p><strong>Tarifs (en CHF)</strong> <br> adultes : 30. - <br> couple : 50. - <br> famille : 20.-/adt - 5.-/enf -> 12 ans - 10./ados -> 18 ans ; <br> staff gaea21 : 20.- <br> membres cotisants de gaea21 : 25.-</p>	
				</div>
		    </div>
          </div>
		  <div class="container-fluid pt-2 mybody_definition">
		    <div class="row">
			    <div class="col-xl-12">
					<h4>Définition</h4>
<p>Cours de chinois niveau expérimentlé (C2)
2 cours de 30 périodes, 15 semaines par semestre = 60 périodes</p>

<h4>Prérequis</h4>

<p>Avoir suivi le cours perfectionnement complet.
Autres étudiants : il est vivement recommandé de passer un test gratuit (contactez-nous!).</p>

<h4>Public</h4>

<p>Ce cours s'adresse aux personnes qui souhaitent se perfectionner dans l'apprentissage de la langue chinoise.</p>

<h4>Objectifs</h4>

<p>Lors de ces cours, chaque aptitude est étudiée : compréhension orale, compréhension écrite, production orale, production écrite.</p>

<h4>Contenu</h4>
<ul>
<li>Comprendre une grande gamme de dialogue et de textes, écrits et oraux, longs et exigeants, ainsi que saisir les significations implicites basées sur la connaissance de langue et de culture.</li>
<li>Communiquer de façon spontanée et fluide sans trop rechercher des mots.</li>
<li>Utiliser la langue de manière efficace et souple en s'adaptant dans de différentes situations, telle que la vie quotidienne, le domaine professionnel, le cadre culturel ou touristique et les études académiques.</li>
<li>S'exprimer sur des sujets complexes de façon claire et structurée et manifester sa compréhension, son avis et sa cohérence des pensées dans son discours.</li>
</ul>

<h4>Méthode</h4>

<p>Dialogues, conversations en groupe et jeux de rôle, exercices appropriés sur différents sujets, utilisation du dictionnaire chinois, approche communicative qui demande une participation directe et active des apprenants.</p>

<h4>Intervenants</h4>

<p>Tous les intervenants de Gaea21 sont expérimentés et diplômés. Ils enseignent leur langue maternelle.
Contact</p>

    <p>Atelier@gaea21.com
    T : +41 (0)22 856 33 12</p>
					
				</div>
		    </div>
          </div>
        </div>		
	    <div class="col-xl-4">
			
		<!-- SECTION SIDEBAR-->

		<section id="mysidebar"> 
		  <div>
			<img class="card-img-top img-fluid" src="{{ asset('bundles/ecopanier/images/atelier_alimentation/sidebar_video.png') }}" alt="Card image cap">  
		  </div>	
		  <div class="card"> 
			  <div class="card-body text-center">
		    <a href="#" class="">M'inscrire à cet atelier</a> </div>
		  </div>
			<h5 class="mysidebar_calendartitle">Les dates de cet atelier</h5>
		  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">no</th>
      <th scope="col">Jour</th>
      <th scope="col">Date</th>
      <th scope="col">De - à</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>MER</td>
      <td>27.09.2017</td>
      <td>12:15 - 13:45</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>MER</td>
      <td>27.09.2017</td>
      <td>12:15 - 13:45</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>MER</td>
      <td>27.09.2017</td>
      <td>12:15 - 13:45</td>
    </tr>
  </tbody>
</table>
			
		  <div class="card"> 
		    <div class="card-body">
			    <h5 class="card-title">Vous voulez proposer un atelier parmi nos thèmes?</h5>
			    <a href="#" class="">Faire une proposition</a> </div>
		  </div>
			
  		  <div class="card"> 
			  <div class="card-body">
			    <h5 class="card-title">Vous voulez proposer des idées d'ateliers qui ne sont pas parmi nos thèmes?</h5>
			    <a href="#" class="">Faire une proposition</a> </div>
		  </div>	
		  </section>
        </div> <!-- end sidebar -->
    </div>
  </div>	
</section>

<!-- SECTION PROCHAIN ATELIER-->

<section id="discover">
  <div class="container-fluid">
	<div class="discover_myrow row">
	  <div class="col-xl-12">
		  <div class="discover_title"> <h5>Découvrez les recettes et pourquoi elles sont bénéfiques pour vous !</h5> </div>
		</div>
    </div>
    <div class="discover_myrow row">
	    <div class="col-xl-4">
			<h6>Les entrées</h6>
			<ul><li>Shot Fraîcheur</li><li>Chips croquante de légumes</li></ul>
		</div>
	    <div class="col-xl-4">
			<h6>Les plats</h6>
			<ul><li>Summer Burger</li><li>Aubergines farcies</li></ul>
		</div>
	    <div class="col-xl-4">
			<h6>Les desserts</h6>
			<ul><li>Rouge saison croustillant</li><li>Smoothie crémeux banane/chocolat</li><li>Boule d'énergie</li></ul>
		</div>
    </div>
  </div>
</section>
	

<!-- SECTION PROCHAIN ATELIER-->

<section id="nextworkshops"> 
  <div class="intro container-fluid">
	<div class="row">
	  <div class="col-xl-12">
		<h2>Choix Atelier</h2>
		</div>
    </div>
  </div>	 
	<div class="container-fluid">
    <div class="row">
		
	  <div class="card col-xl-4"> <img class="card-img-top img-fluid" src="{{ asset('bundles/ecopanier/images/atelier_alimentation/prochain_1.png') }}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Atelier bonheur</h5>
			<h5 class="card-title">02 septembre</h5>  
		    <a href="#" class="">Inscription en ligne</a> </div>
	  </div>
		
	  <div class="card col-xl-4"> <img class="card-img-top img-fluid" src="{{ asset('bundles/ecopanier/images/atelier_alimentation/prochain_2.png') }}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Atelier bombom</h5>
			<h5 class="card-title">16 octobre</h5>   
		    <a href="#" class="">Inscription en ligne</a> </div>
	  </div>
		
	  <div class="card col-xl-4"> <img class="card-img-top img-fluid" src="{{ asset('bundles/ecopanier/images/atelier_alimentation/prochain_3.png') }}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Atelier praline</h5>
			<h5 class="card-title">02 Novembre</h5>   
		    <a href="#" class="">Inscription en ligne</a> </div>
	  </div>
    </div>
  </div>
</section>

<!-- SECTION FORMULAIRE -->
{#
<section id="formulaire_alimention">
<div class="container">
<div class="row">
  <div class="col-xl-12 text-center mb-5">
    <h5>FORMULAIRE INSCRIPTION <BR>
      ATELIER ECO</h5>
  </div>
</div>


{{ form_start(form) }}  <div class="form-row">
    <div class="col-xl-6">
      <div class="form-group">
         {{ form_widget(form.idWorkshop.workshopName) }}
      </div>
      <div class="form-group">
        {{ form_widget(form.idUser.nom) }}
      </div>
      <div class="form-group">
        {{ form_widget(form.idUser.prenom) }}
      </div>
    </div>
    <div class="col-xl-6">
      <div class="form-group">
        {{ form_widget(form.idUser.email) }}
      </div>
      <div class="form-group">
        {{ form_widget(form.idUser.phone) }}
      </div>
      <div class="form-group">
        {{ form_widget(form.idUser.commentary) }}
      </div>
      <button type="submit" value="Create" class="btn btn-info float-right mt-5">ENVOYER</button>
    </div>
  </div>
 {{ form_end(form) }}

  <!-- Message flash d'envoie réussi : -->
  {% if app.session.flashBag.has('notice') %}
    <div class="alert alert-success mt-3">
        {% for msg in app.session.flashBag.get('notice') %}
            {{ msg }}
        {% endfor %}
    </div>
  {% endif %}

  </div>
</section>
#}


<div id="section_formulaire" class="section_formulaire">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin:0px;">
                <h3 class="text-center formulaire_title">FORMULAIRE INSCRIPTION ATELIER ECO</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">    <form>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="FormControlSelect-classique">
                                    <option data-price="26">ATELIER ALIMENTATION</option>
                                    <option data-price="22">ATELIER MODE</option>
                                    <option data-price="24">ATELIER MAQUILLAGE</option>
                                    <option data-price="37">ATELIER SANTE</option>
                                    <option data-price="30">ATELIER CHOISIR ET CONSOMMER</option>
                                    <option data-price="32">ATELIER ZERO WASTE</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="texte" class="form-control" id="exampleInputPassword1" placeholder="Nom">
                            </div>
                            <div class="form-group">
                                <input type="texte" class="form-control" id="exampleInputPassword1" placeholder="Prénom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Téléphone">
                            </div>
                            <div class="form-group">
                                <input type="texte" class="form-control" id="exampleInputPassword1" placeholder="Commentaire">
                            </div>
                            <button type="submit" class="btn btn-info float-right">ENVOYER</button>
                        </div>
                    </div>
                </form></div>
        </div>
    </div>
</div>




<!-- SECTION FOOTER -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <ul>
          <h5>Projets</h5>
          <li class="list-unstyled"> <a href="#"> Répertoire Vert </a> </li>
          <li class="list-unstyled"> <a href="#"> Green Events Series </a> </li>
          <li class="list-unstyled"> <a href="#"> Grow your own </a> </li>
          <li class="list-unstyled"> <a href="#"> Consom'action </a> </li>
          <li class="list-unstyled"> <a href="#"> Eco-gestes </a> </li>
          <li class="list-unstyled"> <a href="#"> Green Coaching </a> </li>
          <li class="list-unstyled"> <a href="#"> Sharing Economy </a> </li>
        </ul>
      </div>
      <div class="col-xl-3">
        <ul>
          <h5>About</h5>
          <!--
          <li class="list-unstyled"> <a href="#"> Page 1 </a> </li>
          <li class="list-unstyled"> <a href="#"> Page 2 </a> </li>
          <li class="list-unstyled"> <a href="#"> Page 3 </a> </li>
			-->
        </ul>
      </div>
      <div class="col-xl-3">
        <ul>
          <h5>Contact</h5>
          <!--
          <li class="list-unstyled"> <a href="#"> Page 1 </a> </li>
          <li class="list-unstyled"> <a href="#"> Page 2 </a> </li>
          <li class="list-unstyled"> <a href="#"> Page 3 </a> </li>
			-->
        </ul>
      </div>
      <div class="col-xl-3">
        <ul>
          <h5>Gaea21</h5>
          <!--
          <li class="list-unstyled"> <a href="#"> Page 1 </a> </li>
          <li class="list-unstyled"> <a href="#"> Page 2 </a> </li>
          <li class="list-unstyled"> <a href="#"> Page 3 </a> </li>
			-->
        </ul>
      </div>
    </div>
  </div>
</footer>
  
    <script src="{{ asset('bundles/ecoatelier/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="{{ asset('bundles/ecoatelier/js/script.min.js') }}"></script>


</body>
</html>
