<nav class="navbar navbar-expand-sm bg-primary" style="background-image: url('{{ asset('images/pelle_terre_footer.jpg') }}')" >
    <ul class="navbar-nav spacer_title_nav">
        <ul class="nav-item ">
            <a class="nav-link header_footer" href="#">Sitemap</a>
            <br>
            <li><a href= "{{ path('ambassadeur') }}">Ambassadeur GAEA</a></li>
            <li><a href="{{ path('humans') }}">Human of gaea21</a></li>
            <li><a href="http://www.sustlivprogram.org/community">Sustainable Living Community</a></li>
            <li><a href="{{path('presentationdashboard')}}">Présentation dashboard</a></li>
            <li><a href="#">Quel consommateur êtes-vous ?</a></li>
            <li><a href="{{path('empreinte_chromatique')}}">Empreinte chromatique</a></li>
        </ul>
        <ul class="nav-item spacer_nav">
            <li><a class="nav-link header_footer" href="http://www.sustlivprogram.org/mentionslegales">Conditions d'utilisations</a></li>
        </ul>
        <ul class="nav-item header_footer spacer_nav">
            <li><a class="nav-link" href="{{path('contact')}}">Contact</a></li>
        </ul>
        <ul class="nav-item header_footer spacer_nav2">
            <li><a class="nav-link" href="http://www.gaea21.org/wpg21/">gaea21</a></li>
        </ul>
    </ul>
    </ul>
</nav>