<h2>Budget Mensuel</h2>

        <div class="row category-row">
            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category clothes-purchase-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/vetements.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Achat de vêtements</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category restaurants-hosting-services-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/restaurent.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Restaurants et services d'hebergement</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category rent-repayment-annuity-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/loyer.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Loyer / annuité de<br>remboursement</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category taxes-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/impots.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Impots</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category fuel-car-sticker-toll-car-park-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/carburant.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Carburants, vignettes,<br>peages, parking</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category health-insurance-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/assurance-maladie.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Assurance maladie</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category outings-leisure-culture-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/loisir.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Sorties / Loisirs / Culture</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category hairdresser-beautician-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/coiffeur.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Coiffeur / Esthéticienne...</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category cleaning-products-housework-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/menage.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Produits entretien, ménage</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category social-contribution-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/cotisation-social.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Cotisations sociales (AVS,<br>Caisse de pension)</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category communications-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/telephone.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Communication<br class="before-telefone-text"> (telephone,<br>internet, tv)</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category health-spendings-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/depenses-de-sante.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Depenses de santé</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category donation-gift-invitation-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/cadeaux.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Dons, cadeaux offets,<br>invitations</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category subscriptions-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/fitness.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Abonnements (fitness,<br>clubs)</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category energy-electricity-gaz-water-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/energie.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Energie (éléctricité, gaz, eau)</p>
                    </div>
                </div>
            </div>

            <div class="col-3 clickable-category-col">
                <div class="category-image-container clickable-category transport-items">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/transport.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Transport</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row added-row clothes-purchase category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/vetements.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Achat de vêtements</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/clothes-purchase-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row restaurants-hosting-services category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/restaurent.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Restaurants et services<br> d'hébergement</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/restaurants-hosting-services-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row rent-repayment-annuity category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/loyer.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Loyer / annuité de<br>remboursement</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/rent-repayment-annuity-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row taxes category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/impots.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Impots</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/taxes-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row fuel-car-sticker-toll-car-park category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/carburant.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Carburants, vignettes,<br>peages, parking</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/fuel-car-sticker-toll-car-park-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row health-insurance category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/assurance-maladie.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Assurance maladie</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/health-insurance-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row outings-leisure-culture category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/loisir.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Sorties / Loisirs / Culture</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/outings-leisure-culture-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row hairdresser-beautician category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/coiffeur.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Coiffeur / Esthéticienne...</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/hairdresser-beautician-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row cleaning-products-housework category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/menage.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Produits entretien, ménage</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/cleaning-products-housework-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row social-contribution category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/cotisation-social.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Cotisations sociales (AVS,<br>Caisse de pension)</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/social-contribution-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row communications category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/telephone.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Communication<br class="before-telefone-text"> (telephone,<br>internet, tv)</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/communications-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row health-spendings category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/depenses-de-sante.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Depenses de santé</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/health-spendings-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row donation-gift-invitation category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/cadeaux.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Dons, cadeaux offets,<br>invitations</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/donation-gift-invitation-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row subscriptions category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/fitness.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Abonnements (fitness,<br>clubs)</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/subscriptions-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row energy-electricity-gaz-water category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/energie.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Energie (éléctricité, gaz,<br>eau)</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/energy-electricity-gaz-water-form.html.twig') #}
                </div>
            </div>
        </div>

        <div class="row added-row transport category-row">
            <div class="added-col col-3">
                <div class="category-image-container">
                    <div class="film"></div>
                    <img class="category-image" src="{{ asset('images/budget/individumenage/transport.jpg') }}" />
                    <div class="category-text-container small-text">
                        <p>Transport</p>
                    </div>
                </div>
            </div>
            <div class="col-9 general-spendings-form">
                <div>
                    {# include('site/formulaires-budget-individu-menage/transport-form.html.twig') #}
                </div>
            </div>
        </div>