{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/actions_dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">

{% endblock %}

{% block body %}

<div class="header" style="display: flex;
    flex-direction: row;
    justify-content: center;">
    <div class="dropdown burger above-image">
    </div>
    <div class="image-container col-md-10">
        <div class="blue-film text-center justify-content-center align-items-center d-flex">
            <div>
                <h2>UNIVERS DES COMMUNAUTÉES</h2>
            </div>  
        </div>
        <img class="below-film" src="{{ asset('images/dashboard/points-badges/header-page-points.jpg') }}">
        <a href="#">
            <div class="menu-img-container">
                <img class="menu-img" src="{{ asset('images/dashboard/points-badges/bouton-menu.png') }}" />
            </div>
        </a>
    </div>
</div>
<div class="main"></div>   

    <div class="row" style="display: flex;
    flex-direction: row;
    justify-content: center;">
		<div class="col-md-10"  >
			<p class="passerActionText" >
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
                dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                <br>
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                <br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
			</p>
		</div>
    </div>
    <div class="menu2" style="text-align: center ">
         <h2>Point Communautaire</h2>
    </div>
    <div class="actionMenu">   
        <div class="row menu1">
            <div class="col-md-4">
                <img class="imgMenu" id="menu_competence" src="{{ asset('images/dashboard/passer_action/competences-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_materiel" src="{{ asset('images/dashboard/passer_action/materiel-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_transport" src="{{ asset('images/dashboard/passer_action/transport-plus-icone.jpg') }}" />
            </div>
        </div>
        <div class="row menu2">
            <div class="col-md-4">
                <img class="imgMenu" id="menu_logement" src="{{ asset('images/dashboard/passer_action/logement-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_soutien" src="{{ asset('images/dashboard/passer_action/soutien-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_parrainage" src="{{ asset('images/dashboard/passer_action/parrainage-plus-icone.jpg') }}" />
            </div>
        </div>  
        <div class="row menu2" id="menu3">
            <div class="col-md-4">
                <img class="imgMenu" id="menu_logement" src="{{ asset('images/dashboard/passer_action/logement-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_soutien" src="{{ asset('images/dashboard/passer_action/soutien-plus-icone.jpg') }}" />
            </div>
        </div>  
    </div>
    <div class="menu2" style="text-align: center ">
         <h2>Besoin de quelques chose ? Les communautés sont là !</h2>
    </div>
    <div class="actionMenu">   
        <div class="row menu1">
            <div class="col-md-4">
                <img class="imgMenu" id="menu_competence" src="{{ asset('images/dashboard/passer_action/competences-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_materiel" src="{{ asset('images/dashboard/passer_action/materiel-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_transport" src="{{ asset('images/dashboard/passer_action/transport-plus-icone.jpg') }}" />
            </div>
        </div>
        <div class="row menu2">
            <div class="col-md-4">
                <img class="imgMenu" id="menu_logement" src="{{ asset('images/dashboard/passer_action/logement-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_soutien" src="{{ asset('images/dashboard/passer_action/soutien-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_parrainage" src="{{ asset('images/dashboard/passer_action/parrainage-plus-icone.jpg') }}" />
            </div>
        </div> 
        <div class="row menu2">
            <div class="col-md-4">
                <img class="imgMenu" id="menu_competence" src="{{ asset('images/dashboard/passer_action/competences-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_materiel" src="{{ asset('images/dashboard/passer_action/materiel-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_transport" src="{{ asset('images/dashboard/passer_action/transport-plus-icone.jpg') }}" />
            </div>
        </div>
        <div class="row menu2">
            <div class="col-md-4">
                <img class="imgMenu" id="menu_logement" src="{{ asset('images/dashboard/passer_action/logement-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_soutien" src="{{ asset('images/dashboard/passer_action/soutien-plus-icone.jpg') }}" />
            </div>
            <div class="col-md-4">
                <img class="imgMenu" id="menu_parrainage" src="{{ asset('images/dashboard/passer_action/parrainage-plus-icone.jpg') }}" />
            </div>
        </div> 
        
        
    </div>

<div class="col-12 footerActionsPoints" >
    {% include 'footer.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}