{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
{% endblock %}

{% block body %}
    <div class="header">
        <div class="dropdown burger above-image">
        </div>
        <h1>RÉSULTAT<br>PROFIL SE DÉPLACER</h1>
        <div class="image-container">
            <div class="blue-film"></div>
            <img class="below-film" src="{{ asset('images/subject-profiles/header-page-profil-se-déplacer.jpg') }}">
        </div>
    </div>
    
    <div class="container my-container">
        <div class="row title">
            <h2>Résultat Thématique / Se Déplacer</h2>
        </div>
        <div class="row intro">
            <p>Il est aujourd'hui difficile de <b>modifier</b> nos <b>habitudes de déplacement</b> en raison des <b>contraintes quotidiennes</b> auquelles il nous faut faire face.<br>Ici, vous pourrez en savoir plus les <b>offres</b> en matière d'<b>éco-mobilité</b>.<br>En effet, de <b>nouvelles initiatives publiques</b> et <b>privées</b> en faveur d'une <b>mobilité durable</b> comme par exemple le <b>covoiturage</b> ou les <b>transports en commun vert</b>, ne cessent de voir le jour !</p>
        </div>
    </div>

    <div class="container my-container result-box">
        <div class="row">
            <h2 class="margins-titles-2nd-grid">PROFIL A</h2>
        </div>
        <div class="row">
            <div class="col-12 my-col title-and-square-image">
                <div class="title-exlaination-profile">
                    <h3 class="margins-titles-2nd-grid">Vous avez un mode de vie neutre</h3>
                </div>
                <div class="square-image-container">
                    <img class="square-image" src="{{ asset('images/dashboard/orange-100_.png') }}" />
                </div>
            </div>
        </div>
        <div class="space-between-profile-exlanation-title-and-explanaition-text"></div>
        <div class="row">
            <div class="col-10 my-col">
                <p class="profile-text">Lorem ipsum dolor sit amet, consecutetuer adipiscing elit, sed diam nonummy nibh euismod tincindunt ut laoreet dolore magna aliquam erat voluptat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet, consecutor dipiscing elit, sed diam nonummy nihb euismod tincindunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-2 my-col text-image-container">
                <img class="image" src="{{ asset('images/subject-profiles/se-déplacer.jpg') }}"/>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src"{{ asset('js/budget/spendings.js') }}"></script>
{% endblock %}