<div class="food-products-form-container general-spendings-form-container">
    <div class="category invisible">food-products</div>
    <!-- Pain et céréales -->
    
    <div class="complete-starch-container">
        <div class="row no-gutters product-line complete-starch-line complete-starch-line-1" data-id="0">
            <div class="invisible subcategory">Féculents complets</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/pain.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Féculents complets</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="white-text field-text">Marque</div>
                    <div class="amount-input-field">
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="white-text field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Féculents complets" %}
                <div class="row no-gutters product-line complete-starch-line complete-starch-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Féculents complets</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field numeric-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="row add-product-line add-complete-starch hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    <div class="refined-starchy-container">
        <div class="row no-gutters product-line refined-starchy-line refined-starchy-line-1" data-id="0">
            <div class="invisible subcategory">Féculents raffinés</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/pain.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Féculents raffinés</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="white-text field-text">Marque</div>
                    <div class="amount-input-field">
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="white-text field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Féculents raffinés" %}
                <div class="row no-gutters product-line refined-starchy-line refined-starchy-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Féculents raffinés</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field numeric-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="row add-product-line add-refined-starchy hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>
    
    
    
    <!--
    <div class="row">
        <div class="col-2 my-col"></div>
        <div class="col-4 my-col">
            <div class="row my-row add-product">
                <div class="plus-container col-2 my-col">
                    <img class="plus" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
                </div>
                <div class="col-10 my-col">
                    <text>Ajouter un produit</text>
                </div>
            </div>
        </div>
        <div class="col-6 my-col"></div>
    </div>
    -->

    <!-- Lait, fromage et oeufs -->
    <div class="milk-container">
        <div class="row no-gutters product-line milk-line milk-line-1" data-id="0">
            <div class="invisible subcategory">lait</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/fromage.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Lait</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div class="amount-input-field">
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "lait" %}
                            
                <div class="row no-gutters product-line milk-line milk-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">lait</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field numeric-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row add-product-line add-milk hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    <div class="cheese-container">
        <div class="row no-gutters product-line cheese-line cheese-line-1" data-id="0">
            <div class="invisible subcategory">Fromages</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/fromage.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Fromage</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div class="amount-input-field">
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Fromages" %}
                            
                <div class="row no-gutters product-line cheese-line cheese-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Fromages</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field numeric-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row add-product-line add-cheese hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    <div class="egg-container">
        <div class="row no-gutters product-line egg-line egg-line-1" data-id="0">
            <div class="invisible subcategory">Oeufs</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/fromage.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Oeufs</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div class="amount-input-field">
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Oeufs" %}
                            
                <div class="row no-gutters product-line egg-line egg-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Oeufs</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field numeric-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row add-product-line add-egg hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>
    

    <!-- Poisson, fruits de mer -->
    <div class="lean-fish-container">
        <div class="row no-gutters product-line lean-fish-line lean-fish-line-1" data-id="0">
            <div class="invisible subcategory">Poissons maigres</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/poisson.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Poissons maigre</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Poissons maigres" %}
                        
                <div class="row no-gutters product-line lean-fish-line lean-fish-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Poissons maigres</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row add-product-line add-lean-fish hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    <div class="oily-fish-container">
        <div class="row no-gutters product-line oily-fish-line oily-fish-line-1" data-id="0">
            <div class="invisible subcategory">Poissons gras</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/poisson.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Poissons gras</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Poissons gras" %}
                        
                <div class="row no-gutters product-line oily-fish-line oily-fish-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Poissons gras</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row add-product-line add-oily-fish hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>
    

    <!-- Viandes -->
    <div class="meat-container">
        <div class="row no-gutters product-line meat-line meat-line-1" data-id="0">
            <div class="invisible subcategory">Viandes</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/viande.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Viandes</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>

        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Viandes" %}
                    
                <div class="row no-gutters product-line meat-line meat-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Viandes</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row add-product-line add-meat hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>

        
    </div>

    <!-- Fruits et légumes -->
    <div class="fresh-fruit-container">
        <div class="row no-gutters product-line fresh-fruit-line fresh-fruit-line-1" data-id="0">
            <div class="invisible subcategory">Fruits frais</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/fruit.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Fruits frais</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Fruits frais" %}
                
                <div class="row no-gutters product-line fresh-fruit-line fresh-fruit-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Fruits frais</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row add-product-line add-fresh-fruit hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    <div class="dried-fruit-container">
        <div class="row no-gutters product-line dried-fruit-line dried-fruit-line-1" data-id="0">
            <div class="invisible subcategory">Fruis secs</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/fruit.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Fruits secs</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Fruis secs" %}
                
                <div class="row no-gutters product-line dried-fruit-line dried-fruit-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Fruis secs</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row add-product-line add-dried-fruit hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    <div class="processed-fruit-container">
        <div class="row no-gutters product-line processed-fruit-line processed-fruit-line-1" data-id="0">
            <div class="invisible subcategory">Fruits transformés</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/fruit.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Fruits transformés</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Fruits transformés" %}
                
                <div class="row no-gutters product-line processed-fruit-line processed-fruit-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Fruits transformés</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row add-product-line add-processed-fruit hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    <div class="vegetable-container">
        <div class="row no-gutters product-line vegetable-line vegetable-line-1" data-id="0">
            <div class="invisible subcategory">Légumes</div>
            <div class="col-2 my-col">
                <div class="subcategory-image-container">
                    <!--<img src="{# asset('images/budget/individumenage/sous-categories/fruit.png') #}" class="subcategory-image" />-->
                </div>
                <div class="subcategory-image-title field-text">Légumes</div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quoi</div>
                    <div>
                        <input class="autocomplete what-field" />
                    </div>
                </div>
            </div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Quantité</div>
                    <div>
                        <input class="autocomplete quantity-field numeric-field" />
                    </div>
                </div>
            </div>
            
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete brand-field" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col"></div>
            <div class="col-2 my-col">
                <div class="field-and-label-container">
                    <div style="color: white;" class="field-text">Marque</div>
                    <div>
                        <input class="autocomplete placeholder-text amount numeric-field" placeholder="Montant" />
                    </div>
                </div>
            </div>
            <div class="col-1 my-col">
                <div style="color: white;" class="field-text">Marque</div>
                <div class="currency-selectmenu-container">
                    <select class="dropdown-list currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "Légumes" %}
                
                <div class="row no-gutters product-line vegetable-line vegetable-line-1" data-id="{{ spending.getId() }}">
                    
                    <div class="spending invisible">{{ spending.getId() }}</div>
                    
                    <div class="invisible subcategory">Légumes</div>
                    <div class="col-2 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quoi</div>
                            <div>
                                <input class="autocomplete what-field" value="{{spending.product.getName()}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Quantité</div>
                            <div>
                                <input class="autocomplete quantity-field" value="{{spending.quantity.getNumber()}}"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div class="field-text">Marque</div>
                            <div>
                                <input class="autocomplete brand-field" value="{{spending.getProduct().getBrand().getName()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col"></div>
                    <div class="col-2 my-col">
                        <div class="field-and-label-container">
                            <div style="color: white;" class="white-text field-text">Marque</div>
                            <div class="amount-input-field">
                                <input class="autocomplete placeholder-text amount" placeholder="Montant"  value="{{spending.cost.getPrice()}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-col">
                        <div style="color: white;" class="white-text field-text">Marque</div>
                        <div class="currency-selectmenu-container">
                            <select class="dropdown-list currency-list">
                                {# dump(currencies) #}
                                {# for currency in currencies #}
                                    {# currency.getIsoCode() #}
                                    {# if spending.currency.getIsoCode() == currency.getIsoCode() #}
                                    <!--<option selected>{#spending.currency.getIsoCode()#}</option>-->
                                    {# else #}
                                        <!--<option>{#spending.currency.getIsoCode()#}</option>-->
                                    {# endif #}
                                {# endfor #}

                                
                                {% if spending.currency.getIsoCode() == 'CHF' %}
                                    <option selected>CHF</option>
                                {% else %}
                                    <option>CHF</option>
                                {% endif %}

                                {% if spending.currency.getIsoCode() == 'EUR' %}
                                    <option selected>EUR</option>
                                {% else %}
                                    <option>EUR</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row add-product-line add-vegetable hand-on-hover">
            <div class="col-2 my-col"></div>
            <div style="" class="col-1 my-col">
                <img style="width: 10px; height: 10px;" class="" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" >
            </div>
            <div class="col-9 my-col">
                <text style="color: #539ac4; font-size: 9px;">Ajouter un produit</text>
            </div>
        </div>
    </div>

    
    
    <div class="row my-row">
        <div style="height: 30px;"></div>
    </div>
    <div class="row my-row">
        <div class="col-4 my-col"></div>
        <div class="col-3 my-col">
            <input class="autocomplete total-amount" />
        </div>
        <div class="col-1 my-col">
            <div class="total-amount-currency-dropdown-list">
                <select class="dropdown-list currency-list">
                    <option>CHF</option>
                    <option>EUR</option>
                </select>
            </div>
        </div>
        <div class="col-1 my-col"></div>
        <div class="col-3 my-col">
            <div class="form-validation-button food-products-validation-button total-validation" style="width: 100%; height: 100%; color: white; background-color: #539ac4; text-align:center; font-weight: bold; cursor: pointer;" data-category="food-products">Valider</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 my-col"></div>
        <div style="color:#539ac4; margin-top:2%;" class="col-3 my-col total-validation">
            Montant total
        </div>
    </div>
</div>