<!--
<div class="row hidden-form hidden-row-non-alcoholic-drinks">
    <div class="col-2 offset-2 my-col name">
        <body id="what-dropdown-list" class="no-widget">
            <span class="form-element-label">Quoi</span>
            <select>
                <option class="name">{#spending.getProduct().getName()#}</option>
                <option value="eau">Eau</option>
            </select>
        </body>
    </div>

    <div class="col-2 my-col quantity">
        <body class="no-widget">
            <span class="form-element-label">Quantité</span>
            <select name="quantite">
                <option value="{#spending.getProduct().getName()}}">{{spending.getQuantity().getQuantity()#}</option>
                {% for i in 0..30 %}
                    {% for dec in 0..30 %}
                        <option value="{{i}}.{{dec}}l">{{i}}.{{dec}} l</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </body>
    </div>

    <div class="col-2 my-col brand">
        <body class="no-widget">
            <span class="form-element-label">Marque</span>
            <select name="marque">
                <option value="{#spending.getProduct().getName()}}">{{spending.getQuantity().getQuantity()#}</option>
                <option value="evian">Leclerc</option>
            </select>
        </body>
    </div>
    
    <div class="col-2 my-col amount-and-currency-selection">
        <div id="amount-col" class="my-col amount">
            <span class="value hidden-span">Montantttttttttttttttttttttt</span>
            <input id="amount-input" class="amount-input" name="amount" type="text" placeholder="montant"/>
        </div>
        <div class="my-col currency">
            <body class="no-widget">
                <span class="value hidden-span form-element-label">Devise</span>
                <select>
                    <option value="chf">CHF</option>
                    <option value="eur">EUR</option>
                </select>
                
            </body>
        </div>
    </div>
        
    <div class="w-100 margin"></div>
</div>
-->