{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
<link rel="stylesheet" href="{{ asset('css/register.css') }}">


{% endblock %}

{% block body %}    
<div class="row">
    <header>
            <div class="header">
                <img class="d-block" src="{{ asset('images/slider/slide_3.jpg') }}" alt="Dashboard">
                <div class="text-inside-header">
                    <h1>Mot de passe oublié ?</h1>
                    <p>Un lien de réinitialisation vous a été envoyé</p>
                </div>
            </div>
            <div class="dropdown burger">
                <a class="dropdown-item" class="btn btn-secondary dropdown-toggle"
                    href="{{ path('site_index') }}">
                    <button class="btn btn-secondary dropdown-toggle"><i class="fa fa-home" style="font-size:24px"></i>
                    </button>
                </a>
            </div>
    </header>

    <div class="main-title">
        <div class="container">
            <h1>Réinitialiser le mot de passe</h1>
        </div>
    </div>

    <div class="pt-3 pb-3">
        <div class="container">
            <p>
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
            </p>
        </div>
    </div>

    <a class="return-home" href="{{ path('site_index') }}">
        <button  class="button-return-home">
            Retour à l'accueil
        </button>
    </a>

    <div class="col-12" >
        {% include 'footer.html.twig' %}
    </div>

</div>
{% endblock %}
