<div class="eating-budget-spendings-form-container"></div>
<div class="eating-budget-spendings-form-grid-container form-container dairy-products-form-container">
    <div class="row my-row">
        {% include 'site/budget-spendings-forms/forms-columns-titles.html.twig' %}
    </div>
    
    <div class="subcategory-container cheese-container">
        <div id="cheese-form-line" class="row my-row form-spending-line" data-id="0">
            <div class="subcategory invisible">cheese</div>
            <div class="col-3">
                <idv class="form-line-title">
                    <div class="form-line-title-content">
                        - Fromages
                    </div>
                </idv>
            </div>
            <div class="col-1">
                <input class="spendings-field what-field"/>
            </div>
            <div class="col-1 dropdown-list-col volume-dropdown-list-col">
                <div class="dropdown-list-container quantity-container">
                    <select class="dropdown-list cheese-quantity-list">
                        <option>1L</option>
                        <option>2L</option>
                    </select>
                    <div class="triangle-img-container cheese quantity">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col-1">
                <input class="spendings-field brand-field" />
            </div>
            <div class="col-1">
                <input class="spendings-field amount-field" />
            </div>
            <div class="col-1 dropdown-list-col currency-dropdown-list-col">
                <div class="dropdown-list-container currency-list-container">
                    <select class="dropdown-list currency-list cheese-currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                    <div class="triangle-img-container cheese currency">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col add-cheese hand-on-hover">
                <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
                <idv class="add-product-text">Ajouter un produit</idv>
            </div>
            <!--<div class="white-div-to-hide-first-line-add-option"></div>-->
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "cheese" %}
                {% set subcategory = "cheese" %}
                {% include('site/budget/recorded-theme-spending-form-line.html.twig') %}
            {% endif %}
        {% endfor %}
        <!--<div class="add-product-line add-cheese hand-on-hover">
            <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
            <idv class="add-product-text">Ajouter un produit</idv>
        </div>-->
    </div>
    
    <div class="subcategory-container milk-container">
        <div id="milk-form-line" class="row my-row form-spending-line" data-id="0">
            <div class="subcategory invisible">milk</div>
            <div class="col-3">
                <idv class="form-line-title">
                <div class="form-line-title-content">
                    - Lait
                    <div class="small-title-content">
                        (lait de vache, lait de brebis, ...)
                    </div>
                </div>
            </idv>
            </div>
            <div class="col-1">
                <input class="spendings-field what-field"/>
            </div>
            <div class="col-1 dropdown-list-col volume-dropdown-list-col">
                <div class="dropdown-list-container quantity-container">
                    <select class="dropdown-list milk-quantity-list">
                        <option>1L</option>
                        <option>2L</option>
                    </select>
                    <div class="triangle-img-container milk quantity">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col-1">
                <input class="spendings-field brand-field" />
            </div>
            <div class="col-1">
                <input class="spendings-field amount-field" />
            </div>
            <div class="col-1 dropdown-list-col currency-dropdown-list-col">
                <div class="dropdown-list-container currency-list-container">
                    <select class="dropdown-list currency-list milk-currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                    <div class="triangle-img-container milk currency">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col add-milk hand-on-hover">
                <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
                <idv class="add-product-text">Ajouter un produit</idv>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "milk" %}
                {% set subcategory = "milk" %}
                {% include('site/budget/recorded-theme-spending-form-line.html.twig') %}
            {% endif %}
        {% endfor %}
        <!--<div class="add-product-line add-milk hand-on-hover">
            <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
            <idv class="add-product-text">Ajouter un produit</idv>
        </div>-->
    </div>
    

    <div class="subcategory-container sweet-dairy-dessert-container">
        <div id="sweet-dairy-dessert-form-line" class="row my-row form-spending-line" data-id="0">
            <div class="subcategory invisible">sweet-dairy-dessert</div>
            <div class="col-3">
                <idv class="form-line-title">
                    <div class="form-line-title-content medium-width-title">
                        - Desserts sucrés lactés
                        <div class="small-title-content">
                            (riz au lait, flan, île flottante, crèmes desserts ...)
                        </div>
                    </div>
                </idv>
            </div>
            <div class="col-1">
                <input class="spendings-field what-field"/>
            </div>
            <div class="col-1 dropdown-list-col volume-dropdown-list-col">
                <div class="dropdown-list-container quantity-container">
                    <select class="dropdown-list sweet-dairy-dessert-quantity-list">
                        <option>1L</option>
                        <option>2L</option>
                    </select>
                    <div class="triangle-img-container sweet-dairy-dessert quantity">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col-1">
                <input class="spendings-field brand-field" />
            </div>
            <div class="col-1">
                <input class="spendings-field amount-field" />
            </div>
            <div class="col-1 dropdown-list-col currency-dropdown-list-col">
                <div class="dropdown-list-container currency-list-container">
                    <select class="dropdown-list currency-list sweet-dairy-dessert-currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                    <div class="triangle-img-container sweet-dairy-dessert currency">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col add-sweet-dairy-dessert hand-on-hover">
                <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
                <idv class="add-product-text">Ajouter un produit</idv>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "sweet-dairy-dessert" %}
                {% set subcategory = "sweet-dairy-dessert" %}
                {% include('site/budget/recorded-theme-spending-form-line.html.twig') %}
            {% endif %}
        {% endfor %}
        <!--<div class="add-product-line add-sweet-dairy-dessert hand-on-hover">
            <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
            <idv class="add-product-text">Ajouter un produit</idv>
        </div>-->
    </div>
    

    <div class="subcategory-container fresh-sweet-dairy-product-container">
        <div id="fresh-sweet-dairy-product-form-line" class="row my-row row-with-long-title form-spending-line" data-id="0">
            <div class="subcategory invisible">fresh-sweet-dairy-product</div>
            <div class="col-3">
                <idv class="form-line-title">
                    <div class="form-line-title-content medium-width-title">
                        - Produits laitiers frais sucrés
                        <div class="small-title-content">
                            (yaourt au lait de vache, de chèvre, de brebis ... sucrés, aromatisés, aux fruits ...)
                        </div>
                    </div>
                </idv>
            </div>
            <div class="col-1">
                <input class="spendings-field what-field"/>
            </div>
            <div class="col-1 dropdown-list-col volume-dropdown-list-col">
                <div class="dropdown-list-container quantity-container">
                    <select class="dropdown-list fresh-sweet-dairy-product-quantity-list">
                        <option>1L</option>
                        <option>2L</option>
                    </select>
                    <div class="triangle-img-container fresh-sweet-dairy-product quantity">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col-1">
                <input class="spendings-field brand-field" />
            </div>
            <div class="col-1">
                <input class="spendings-field amount-field" />
            </div>
            <div class="col-1 dropdown-list-col currency-dropdown-list-col">
                <div class="dropdown-list-container currency-list-container">
                    <select class="dropdown-list currency-list fresh-sweet-dairy-product-currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                    <div class="triangle-img-container fresh-sweet-dairy-product currency">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col add-fresh-sweet-dairy-product hand-on-hover">
                <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
                <idv class="add-product-text">Ajouter un produit</idv>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "fresh-sweet-dairy-product" %}
                {% set subcategory = "fresh-sweet-dairy-product" %}
                {% include('site/budget/recorded-theme-spending-form-line.html.twig') %}
            {% endif %}
        {% endfor %}
        <!--<div class="add-product-line add-fresh-sweet-dairy-product hand-on-hover">
            <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
            <idv class="add-product-text">Ajouter un produit</idv>
        </div>-->
    </div>
    
    <div class="subcategory-container plain-fresh-dairy-product-container">
        <div id="plain-fresh-dairy-product-form-line" class="row my-row plain-fresh-dairy-product-bottom-form-line-0 last-line form-spending-line" data-id="0">
            <div class="subcategory invisible">plain-fresh-dairy-product</div>
            <div class="col-3">
                <idv class="form-line-title">
                <div class="form-line-title-content medium-width-title">
                    - Produits laitiers frais nature
                    <div class="small-title-content">
                        (yaourt au lait de vache, de chèvre, de brebis ... nature)
                    </div>
                </div>
            </idv>
            </div>
            <div class="col-1 field-and-button-under-field-container last-line-what-column">
                <input class="spendings-field what-field"/>
                <div class="form-button left-button">Retour au dashboard</div>
            </div>
            <div class="col-1 dropdown-list-col volume-dropdown-list-col">
                <div class="dropdown-list-container quantity-container">
                    <select class="dropdown-list plain-fresh-dairy-product-quantity-list">
                        <option>1L</option>
                        <option>2L</option>
                    </select>
                    <div class="triangle-img-container plain-fresh-dairy-product quantity">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
            </div>
            <div class="col-1">
                <input class="spendings-field brand-field" />
            </div>
            <div class="col-1">
                <input class="spendings-field amount-field" />
            </div>
            <div class="col-1 field-and-button-under-field-container last-line-currency-column dropdown-list-col currency-dropdown-list-col">
                <div class="dropdown-list-container currency-list-container">
                    <select class="dropdown-list currency-list plain-fresh-dairy-product-currency-list">
                        <option>CHF</option>
                        <option>EUR</option>
                    </select>
                    <div class="triangle-img-container plain-fresh-dairy-product currency">
                        <img class="triangle-img" src="{{ asset('images/dashboard/budget/dropdown-menu/triangle.png') }}" />
                    </div>
                </div>
                <div class="form-button right-button form-validation-button" data-category="dairy-products">Valider</div>
            </div>
            <div class="col add-plain-fresh-dairy-product hand-on-hover">
                <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
                <idv class="add-product-text">Ajouter un produit</idv>
            </div>
        </div>
        {% for spending in spendings %}
            {% if spending.getProduct().getSubcategory().getName() == "plain-fresh-dairy-product" %}
                {% set subcategory = "plain-fresh-dairy-product" %}
                {% include('site/budget/recorded-theme-spending-form-line.html.twig') %}
            {% endif %}
        {% endfor %}
        <!--<div class="add-product-line add-plain-fresh-dairy-product hand-on-hover">
            <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
            <idv class="add-product-text">Ajouter un produit</idv>
        </div>-->
    </div>
</div>
<!--
<div class="eating-budget-spendings-form-container"></div>
<div class="eating-budget-spendings-form">
    
    <div class="form-line first-line">
        <idv class="what-title">
            Quoi
        </idv>
        <idv class="quantity-title">
            Quantité
        </idv>
        <idv class="brand-title">
            Marque
        </idv>
        <idv class="amount-title">
            Montant
        </idv>
    </div>
    
    <div class="form-line">
        <idv class="form-line-title">
            <div class="form-line-title-content">
                - Fromages
            </div>
        </idv>
        
        <input class="spendings-field what-field"/>
        
        <select class="dropdown-list">
            <option>1L</option>
            <option>2L</option>
        </select>
        <input class="spendings-field brand-field" />
        <input class="spendings-field amount-field" />
        <select class="dropdown-list currency-list">
            <option>CHF</option>
            <option>EUR</option>
        </select>
        <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
        <idv class="add-product-text">Ajouter un produit</idv>
    </div>

    <div class="form-line">

        <idv class="form-line-title">
            <div class="form-line-title-content">
                - Lait<br>
                <div class="small-title-content">
                    (lait de vache, lait de brebis, ...)
                </div>
            </div>
        </idv>
        
        <input class="spendings-field what-field"/>
        
        <select class="dropdown-list">
            <option>1L</option>
            <option>2L</option>
        </select>
        <input class="spendings-field brand-field" />
        <input class="spendings-field amount-field" />
        <select class="dropdown-list currency-list">
            <option>CHF</option>
            <option>EUR</option>
        </select>
        <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
        <idv class="add-product-text">Ajouter un produit</idv>
    </div>

    <div class="form-line">
        <idv class="form-line-title">
            <div class="form-line-title-content">
                - Desserts sucrés lactés
                <div class="small-title-content">
                    (riz au lait, flan, île flottante, crèmes desserts ...)
                </div>
            </div>
        </idv>
        
        <input class="spendings-field what-field"/>
        
        <select class="dropdown-list">
            <option>1L</option>
            <option>2L</option>
        </select>
        <input class="spendings-field brand-field" />
        <input class="spendings-field amount-field" />
        <select class="dropdown-list currency-list">
            <option>CHF</option>
            <option>EUR</option>
        </select>
        <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
        <idv class="add-product-text">Ajouter un produit</idv>
    </div>

    <div class="form-line">
        <idv class="form-line-title">
            <div class="form-line-title-content">
                - Produits laitiers frais sucrés
                <div class="small-title-content">
                    (yaourt au lait de vache, de chèvre, de brebis ... sucrés, aromatisés, aux fruits ...)
                </div>
            </div>
        </idv>
        
        <input class="spendings-field what-field"/>
        
        <select class="dropdown-list">
            <option>1L</option>
            <option>2L</option>
        </select>
        <input class="spendings-field brand-field" />
        <input class="spendings-field amount-field" />
        <select class="dropdown-list currency-list">
            <option>CHF</option>
            <option>EUR</option>
        </select>
        <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
        <idv class="add-product-text">Ajouter un produit</idv>
    </div>

    <div class="form-line">
        
        <idv class="form-line-title">
            <div class="form-line-title-content">
                - Produits laitiers frais nature
                <div class="small-title-content">
                    (yaourt au lait de vache, de chèvre, de brebis ... nature)
                </div>
            </div>
        </idv>
        
        <input class="spendings-field what-field"/>
        
        <select class="dropdown-list">
            <option>1L</option>
            <option>2L</option>
        </select>
        <input class="spendings-field brand-field" />
        <input class="spendings-field amount-field" />
        <select class="dropdown-list currency-list">
            <option>CHF</option>
            <option>EUR</option>
        </select>
        <img class="plus-img" src="{{ asset('images/dashboard/budget/blue-plus-sign.png') }}" />
        <idv class="add-product-text">Ajouter un produit</idv>
    </div>
</div>
-->